<main>
    <div class="scores">
        <ul>
          <li *ngFor="let score of getScores()">
            <b>{{ score.level }}</b>. {{ score.qttRight | number:'2.0-0' }} Acertos  |  {{ score.qttMistakes | number:'2.0-0' }} Erros
          </li>
        </ul>
    </div>
  <br>  
  <br>
  <br>
  <div>
    <p class="countdown-number">{{ countdownNumber }}</p>
  </div>
  <div>
    <p class="word" [ngStyle]="{'color': randomColor?.color}">{{ randomName?.name }}</p>
  </div>
  <div class="iniciar">
    <br>
    <br>
    <button *ngIf="!isBntStartVisible" name="btnVerdadeiro" (click)="onTrue()">V</button>
    &nbsp;&nbsp;&nbsp;
    <button *ngIf="!isBntStartVisible" name="btnFalso" (click)="onFalse()">F</button>
    <button *ngIf="isBntStartVisible" name="btnStart" (click)="onStart()">Iniciar</button>
  </div>

</main>