main {    
    position: relative;
    height: 40%;
	text-align: center;
	margin: 0px;
}

.countdown-number {
	font-size: 78px;
	color: #db4646;
	margin-block-end: 0.5em;
}

.scores {
	position: fixed;
}

.word {
	top: 5px;
	height: 20%;   
	padding: 0.25em; 
    background-color: #ffffff;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
    justify-content: center;  
	margin: auto; 
	font-size: 58px; 
}

ul {
	padding-inline-start: 0px;
}

li { 
	margin: 2px 0px 2px 0px;
	list-style-type: none; 
	font: 16px/1 Helvetica, Verdana, sans-serif;
	color: rgb(94, 92, 92);
}

.iniciar {
    padding: 1em 0.5em 1em 0.5em;  
}

.result {
	font-size:22px;
	color: #2f6627;
}

button {
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	outline: none;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:28px;
	padding:16px 31px;
	text-decoration:none;
    width: 130px;
    text-align: center;
}

button:hover,
button:active {
	outline: none;
	background-color: white;
}

@media screen and (max-width: 800px) {
	.result {
		font-size:16px;
	}
}

button[name="btnVerdadeiro"] {
	background-color:#45b4c7;
	color:#ffffff;
    text-shadow:0px 1px 0px #256dd9;
}

button[name="btnVerdadeiro"]:hover {
	background-color:#2a89bd;
}

button[name="btnFalso"] {
	background-color:#e65757;
	color:#ffffff;
    text-shadow:0px 1px 0px #e62e2e;
}

button[name="btnFalso"]:hover {
	background-color:#db4646;
}

button[name="btnStart"] {
	background-color:#44c767;
	border:1px solid #18ab29;
	color:#ffffff;
	text-shadow:0px 1px 0px #2f6627;
	width: 80%;
}

.bottom {
	margin: 18px 0px 8px 0px;
	position: relative;
}