<main>
  <div>
    <p class="countdown-number">{{ countdownNumber }}</p>
  </div>
  <div>
    <p *ngIf="!isBntStartVisible" class="word" [ngStyle]="{'color': randomColor?.color}">{{ randomName?.name }}</p>
  </div>
  <br/>
  <br/>
  <div class="center">
    <button *ngIf="!isBntStartVisible" name="btnVerdadeiro" (click)="onTrue()">V</button>

    <button *ngIf="!isBntStartVisible" name="btnFalso" (click)="onFalse()">F</button>

    <div *ngIf="isBntStartVisible" class="bottom">
      <button name="btnStart" (click)="onStart()">Iniciar</button>
      <p class="result">
        Acertos: {{ getTotalCorrect() }} | Erros: {{ getTotalWrong() }}
      </p>
    </div>
  </div>


</main>